body {
  background-color: gray;
}
.test {
  background-color: bisque;
  padding: 5px;
}
button {
  margin: 5px;
}

table,
tr,
td {
  text-align: center;
  align-content: center;
  border: 1px solid black;
  border-collapse: collapse;
}
#card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
#tugas-2-content {
  display: flex;
}
#tugas-2-content div:first-child {
  flex-basis: 40%;
}
